<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Create</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@2.3.0"></script>
</head>

<body>
  <div class="container flex justify-center align-middle min-h-screen">
    <div class="rounded p-4 shadow-lg min-w-full prose">
      <div id="editorjs"></div>
    </div>
  </div>


  <script src="../js/editor.js"></script>
</body>

</html>