<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <title>Document</title>
</head>

<body>
  <%- include('../common/navbar', {navbar: "login" }) %>
    <div class="max-w-7xl min-h-screen flex justify-center items-center m-auto">
      <div class="w-80">
        <form action="/login" method="POST">
          <div class="block">
            <div>
              <label for="email">Email Address</label>
              <input class="form-input" id="email" name="email" placeholder="john@doe.com" type="text" required>
            </div>
            <div class="mt-2">
              <label for="password">Password</label>
              <input class="form-input" id="password" name="password" placeholder="***********" type="password"
                required>
            </div>
          </div>
          <div>
            <button class="btn mt-2">
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
</body>

</html>